@model dynamic

@{
    ViewData["Title"] = "Home Page";
    CurrentUserData user = Model.currentUserData as CurrentUserData;
}



<div class="container">
    <h1>Witaj @user.displayName!</h1>
    <div class="row">&nbsp;</div>
    
    <div class="row">
        <div class="col-2">Search users</div>
        <div class="col-4"><input type="text" id="userSearchInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="userSearchButton" value="Find user" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-3">
        <ul id="chatsList">
            @foreach (FrontChatItem item in Model.listOfConversations)
            {
                <li>
                    <a href="?conversation=@Html.DisplayFor(modelItem => item.chatID)">
                        @Html.DisplayFor(modelItem => item.chatName) |
                        @Html.DisplayFor(modelItem => item.lastMessageTime)
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="col-9">
        <ul id="messagesList">
            @foreach (FrontMessage item in Model.listOfMessages)
            {
                <li>
                    @Html.DisplayFor(modelItem => item.creatorName) (@Html.DisplayFor(modelItem => item.username)):
                    @Html.DisplayFor(modelItem => item.messageContent) |
                    @Html.DisplayFor(modelItem => item.createdTime)
                </li>
            }
        </ul>
        <div class="messageInputBar">
            <input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="searchList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>