@model dynamic

@{
    ViewData["Title"] = "Home Page";
    CurrentUserData user = Model.currentUserData as CurrentUserData;
}

<script>let myID = @user.myID;</script>

<div class="container">
    <h1>Witaj @user.displayName!</h1>
    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-2">Search users</div>
        <div class="col-4"><input type="text" id="userSearchInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="userSearchButton" value="Find user" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-3">
        <ul id="chatsList">
            @foreach (FrontChatItem item in Model.listOfConversations)
            {
                <li>
                    <a href="?conversation=@Html.DisplayFor(modelItem => item.chatID)">
                        @Html.DisplayFor(modelItem => item.chatName) |
                        @Html.DisplayFor(modelItem => item.lastMessageTime)
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="col-9 chatWindow">
        <ul id="messagesList">
            @foreach (FrontMessage item in Model.listOfMessages)
            {
                <li>
                    @if (item.isMyMessage)
                    {
                        <div class="message-bubble my-message">
                            <div class="message-bubble-author">
                                @Html.DisplayFor(modelItem => item.creatorName) (@Html.DisplayFor(modelItem => item.username))
                            </div>
                            <div class="message-bubble-content">
                                @Html.DisplayFor(modelItem => item.messageContent)
                            </div>
                            <div class="message-bubble-createdTime">
                                @Html.DisplayFor(modelItem => item.createdTime)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="message-bubble">
                            <div class="message-bubble-author">
                                @Html.DisplayFor(modelItem => item.creatorName) (@Html.DisplayFor(modelItem => item.username)):
                            </div>
                            <div class="message-bubble-content">
                                @Html.DisplayFor(modelItem => item.messageContent)
                            </div>
                            <div class="message-bubble-createdTime">
                                @Html.DisplayFor(modelItem => item.createdTime)
                            </div>
                        </div>
                    }


                </li>
            }
        </ul>
        <div class="messageInputBar">
            <div class="input-group mb-3">
                <input id="messageInput" type="text" class="form-control" placeholder="Napisz wiadomość..." aria-label="Napisz wiadomość..." aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button id="sendButton" class="btn btn-outline-secondary" type="button">Send Message</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="searchList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>